@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap');

html {
  scroll-behavior: smooth;

}

body {
  margin: 0;
  padding: 0;
  font-family: 'Cairo', sans-serif;
  font-weight: bold;
}

.image img {
  height: 100%;
  width: 100%;
}

.youtubeVideo iframe {
  height: 90vh;
  width: 100%;
}