@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap');


body {
  margin: 0;
  padding: 0;
  font-family: 'Cairo', sans-serif;

}

.image img {
  height: 100%;
  width: 100%;
}

.youtubeVideo iframe {
  height: 90vh;
  width: 100%;
}